@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  left: 0;
  z-index: -1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.skeleton-0d1e66qm5fq:empty {box-sizing: content-box; height: 170px; background-color: #ffffff; border-radius: 0px 0px 0px 0px; background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),linear-gradient( #cccccc 20px, transparent 0 ),radial-gradient( circle 14px at 14px 14px, #cccccc 13px, transparent 14px ),linear-gradient( #cccccc 20px, transparent 0 ),radial-gradient( circle 14px at 14px 14px, #cccccc 13px, transparent 14px ),linear-gradient( #cccccc 20px, transparent 0 ),radial-gradient( circle 14px at 14px 14px, #cccccc 13px, transparent 14px );background-repeat: repeat-y;background-size: 50px 170px,300px 170px,28px 170px,300px 170px,28px 170px,300px 170px,28px 170px;background-position: 0 0,70px 125px,20px 120px,70px 75px,20px 70px,70px 25px,20px 20px;animation: shineForSkeleton-0d1e66qm5fq 1s infinite;}@keyframes shineForSkeleton-0d1e66qm5fq {to {background-position: 100% 0,70px 125px,20px 120px,70px 75px,20px 70px,70px 25px,20px 20px;}}

* {
  box-sizing: border-box;
}
